body{
  margin: 30px;
}

td{
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}



.create_body h1{
  margin:15px 0px;
}

.create_body h5{
  font-weight: 500;
  
}

.form_title{
    margin-bottom: 10px;
}

.form_body{
    margin-bottom: 10px;
}

.submit{

}

.submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}