.edit_title{
  margin-bottom: 15px;
}

.edit_form_title {
  margin-bottom: 15px;
}

.edit_field{
  width: 180px;
}

.edit_form_body {
  margin-bottom: 15px;
}

.edit_area{
  width: 160px;
}

.edit_submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  margin-bottom: 10px;
}

.show-btn{
  padding-right: 3px;
}


.back-btn{
  padding-left: 3px;
}